{% extends "schedule/base.html" %}
{% block head_title %}Available Calendars{% endblock %}
{% block body %}
<h2>Available Calendars</h2>
<ul>
{% for cal in object_list %}
<li><b>{{ cal }}</b> : <a href="{% url "schedule:compact_calendar" cal.slug %}">Small Month</a> -- <a href="{% url "schedule:month_calendar" cal.slug %}">1 Month</a> -- <a href="{% url "schedule:tri_month_calendar" cal.slug %}">3 Months</a> -- <a href="{% url "schedule:year_calendar" cal.slug %}">This Year</a> -- <a href="{% url "schedule:week_calendar" cal.slug %}">Weekly</a> -- <a href="{% url "schedule:day_calendar" cal.slug %}">Daily</a> -- <a href="/schedule/feed/calendar/upcoming/{{ cal.id }}/">Feed</a></li><br/>
{% endfor %}
</ul>
{% endblock %}
